In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("Dataset/Dataset/Cab_Data.csv")

In [6]:
df.head()

,Transaction ID,Date of Travel,Company,City,KM Travelled,Price Charged,Cost of Trip
0,10000011,42377,Pink Cab,ATLANTA GA,30.45,370.95,313.635
1,10000012,42375,Pink Cab,ATLANTA GA,28.62,358.52,334.854
2,10000013,42371,Pink Cab,ATLANTA GA,9.04,125.20,97.632
3,10000014,42376,Pink Cab,ATLANTA GA,33.17,377.40,351.602
4,10000015,42372,Pink Cab,ATLANTA GA,8.73,114.62,97.776

In [7]:
df.info

<bound method DataFrame.info of         Transaction ID  Date of Travel     Company           City  \
0             10000011           42377    Pink Cab     ATLANTA GA
1             10000012           42375    Pink Cab     ATLANTA GA
2             10000013           42371    Pink Cab     ATLANTA GA
3             10000014           42376    Pink Cab     ATLANTA GA
4             10000015           42372    Pink Cab     ATLANTA GA
...                ...             ...         ...            ...
359387        10440101           43108  Yellow Cab  WASHINGTON DC
359388        10440104           43104  Yellow Cab  WASHINGTON DC
359389        10440105           43105  Yellow Cab  WASHINGTON DC
359390        10440106           43105  Yellow Cab  WASHINGTON DC
359391        10440107           43102  Yellow Cab  WASHINGTON DC

        KM Travelled  Price Charged  Cost of Trip
0              30.45         370.95      313.6350
1              28.62         358.52      334.8540
2               9.04         125.20       97.6320
3              33.17         377.40      351.6020
4               8.73         114.62       97.7760
...              ...            ...           ...
359387          4.80          69.24       63.3600
359388          8.40         113.75      106.8480
359389         27.75         437.07      349.6500
359390          8.80         146.19      114.0480
359391         12.76         191.58      177.6192

[359392 rows x 7 columns]>